html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #393939;
}

/*----------Navbar---------*/
nav {
  height: 70px;
  background-color: #c4425a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand a {
  text-decoration: none;
}

.brand a p {
  color: white;
  font-size: 2em;
  font-weight: 300;
  text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.4);
}

.navLinks {
  width: 25%;
}

ul {
  /*background-color: white;*/
  display: flex;
  justify-content: space-around;
}

.navLinks ul li {
  list-style: none;
}

.navLinks ul li a {
  text-decoration: none;
  color: white;
  transition-duration: .3s;
}

.navLinks ul li a:hover {
  color: #ce7384;
  transform: translateY(-2px);
  /*text-shadow: 2px 2px 3px rgba(57, 57, 57, 0.4);*/
}
/*----------/Navbar---------*/



/*------------Hero----------*/

.heroArea {
  height: 450px;
  background-color: #c4425a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroAbout p {
  margin: 0 0 10px 0;
  text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.4);
}
.heroSal, .heroHeader {
  font-size: 3em;
  font-weight: 300;
  color: white;
}

/*------------/Hero----------*/



/*--------HomeSkills---------*/
#bodyContent {
  display: flex;
  justify-content: center;
}
.bodyContainer {
  width: 960px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}
.bodyContainer p{
  font-size: 2.5em;
  font-weight: 300;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skillSet {
  display: flex;
  align-items: center;
}

.specSkill {
  width: 320px;
  margin-bottom: 10px;
}

.specSkill i {
  font-size: 2.5em;
}

.specSkill p {
  font-size: 2em;
}
.specSkill .skillDetails {
  font-size: 1.5em;
  width: 80%;
  text-align: left;
  padding-left: 10px;
}

.specSkill .skillDetails {
  font-size: 1em;
  font-weight: normal;
}
/*--------/HomeSkills---------*/



/*--------HomeContact---------*/
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 25px 0;
  /*border-bottom: 1px solid #efefef;*/
}

.getit {
  font-size: 2.5em;
  font-weight: 300;
}

.contactSection button {
  font-size: 1.5em;
  font-weight: 300;
  background-color: #c4425a;
  color: white;
  border: 1px solid #c4425a;
  padding: 10px;
  transition-duration: .3s;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(57, 57, 57, 0.4);
}

.contactSection button:hover {
  /*background-color: white;
  color: #c4425a;*/
  transform: translateY(-3px);
  box-shadow: 2px 2px 3px rgba(57, 57, 57, 0.4);
}

.contactSection button:focus {
  outline: none;
}

.socialIcons {
  margin-top: 30px;
  width: 15%;
  display: flex;
  justify-content: space-around;
  /*background-color: blue;*/
}
.socialIcons {
  margin-top: 40px;
  width: 15%;
  display: flex;
  justify-content: space-around;
  /*background-color: blue;*/
}
.socialIcons a {
  color: #393939;
}

.socialIcons i {
  font-size: 2.5em;
  transition-duration: .3s;
}

.socialIcons i:hover {
  transform: translateY(-3px);
}
/*--------/HomeContact---------*/



/*-----------ContactPage---------*/

.contactPage {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.contactPage form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 800px;
  justify-content: space-around;
}

/*.contactPage form input {
  width: 400px;
}*/
/*-----------ContactPage---------*/



/*--------Footer---------*/
footer {
  display: flex;
  justify-content: center;
}

.footer {
  border-top: 1px solid #efefef;
  width: 960px;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer small {
  color: #CFD7DF;
}

.addLink {
  display: flex;
  align-items: center;
}

.addLink a {
  text-decoration: none;
  color: #CFD7DF;
  transition-duration: .3s;
}

.addLink a:hover {
  color: #9ba2a8;
}
/*--------/Footer---------*/
